/* Card.css */
.meal-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  margin: 10px;
  max-width: 100%; /* Adjust the width based on the parent container */
}

.meal-card-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.meal-card-content {
  text-align: center; /* Center horizontally */
}

.meal-card h3 {
  font-size: 1.2rem;
  margin: 0;
}

.meal-card span {
  font-weight: bold;
  color: #333;
}

.meal-card p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}
