/* Hero.css */

.hero {
    background-color: #495E57;
    padding: 2rem;
  }
  
.container.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-information {
    text-align: left;
    padding: 2rem;
}

.hero-information h1 {
    color: #F4CE14;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero-information h2.hero-sub-title {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.hero-information p {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.reserve-button {
    background-color: #F4CE14;
    color: #495E57;
    border: none;
    border-radius: 16px;
    font-family: 'Markazi Text', serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0; /* Remove any margin that might affect the layout */
    /* overflow: hidden; */
}

.reserve-button:hover {
    background-color: #495E57;
    color: #F4CE14;
    border: 2px solid #F4CE14;
}

@media (max-width: 768px) {
    .reserve-button {
        width: 100%; /* Make the button full width on smaller screens */
    }
}


  