.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
    gap: 20px; /* Gap between items */
    background-color: #333; /* Background color for the navigation */
    padding: 10px; /* Padding for the navigation */
    border-radius: 16px;
  }
  
  .nav-item {
    text-decoration: none;
    color: white; /* Text color for navigation links */
    text-align: center;
    padding: 10px 20px; /* Padding for each link */
    border-radius: 16px; 
  }
  
  .nav-item:hover {
    background-color: #555; 
  }
  